body{
    background-color: aquamarine;
}
.ADE{background-color: aquamarine;
height: 100px;
width: 100px;
 border-radius: 70px;
 border: solid 5px blue;
}


.loya {border: solid 5px gray;
    padding: 20px;
}